using System;
using System.ComponentModel.DataAnnotations;
using Volo.Abp.Application.Dtos;

namespace $rootnamespace$.$pluralentityname$;
public class $safeitemname$
{
    public Guid Id { get; set; }
    $dtoproperties$
    public Datetime CreationTime { get; set; }
}